# Environment
.env
.env.*
__pycache__/
*.py[cod]
*$py.class

venv/*

# Local development
.vscode/
.idea/

# Database
*.db
*.sqlite

# Vector store
chroma_db/

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore 